/* This is a comment in CSS. This is the only styles option for a comment.
This is a multi- line comment.

The format of a CSS style is:

selector{
    property: value;
    property2: value;
}

All of the HTML page content is in the body section, so when we use the body selector, we are changing things doe the 
whole page

we are changing the background color and the text color.
*/
body{
    background-color: rgba(159, 245, 159, 0.904);
    color: black;
}

/* Heading 1, we are going to change the font used for this page title */
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

/* style the links */
nav{
    /*height: 60px;
    width: 200px;
    float: left;*/
    padding: 5px;
    line-height: 30px;
}

/* Place the footer at the bottom of the page */
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
}

/* this is a custom selector - it will only affect an item on the HTML page that has an ID of memeimage;These settings eill help with future assignments */
#memeimage{
    position: absolute;
    left: 0%;
    top: 100px;
    width: 200px;
    
}

/* change the header to be in the center of the page. */


/* Anchor tag styles - make the hyperlinks look better */
a{
    text-decoration: none;
    color: rgb(23, 7, 248);
}

p{
    position: fixed;
    top: 10%;
    left: 0px;
    text-align: left;
}

/* Table styles */
table{
    width: 100%;
    border-collapse: collapse; /* This prevents stacked border lines */
    position: fixed;
    top: 155px;
    left: 0%;
    text-align: left;
}

th, td{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th{
    background-color: rgb(248, 148, 164);
}

tr:nth-child(even){
    background-color: rgb(113, 205, 233);
    color: black; 
}

/* when the table row is hovered over by the mouse, change the colors */
tr:hover{
    background-color:rgb(23, 7, 248);
    color: white; 
}

/* Nav Links */
 /* set the nav and ul to some default settings */
 nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin-bottom: 10px;
    text-align: center;
    display: inline;
}

nav ul li a{
    text-decoration: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* this goves a smooth transition when the background-color changes */
    display: inline;
}

/* change the hover color of our buttons */
nav ul li a:hover{
    background-color:rgb(204, 85, 105);
}

/* when the link is active */
nav ul li a.active{
    background-color:blue;
}